@font-face {
    font-family: 'Norse';
    src: url('Norse-Bold.woff2') format('woff2'),
        url('Norse-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Arial', sans-serif;
}

.container {
    display: flex;
    flex-flow: row wrap;
}

.container > * {
    flex: 1 100%;
}

.left {
    background-image: url("images/plants.jpg");
    background-repeat: no-repeat;
    min-height: 100dvh;
    flex: 2 0px;
}

.logo-bg {
    background: rgb(0 0 0 / 45%);
    height: 100px;
    width: 100%;
    margin-top: 200px;
    display: flex;
}

.odin {
    margin: auto;
}

.logo {
    height: 80px;
    width: auto;
    float: left;
}

.logo-text {
    float: left;
}

.credit {
    color: #ffffff;
    text-align: center;
    display: flex;
    justify-self: center;
}

h1 {
    text-transform: uppercase;
    color: #ffffff;
    font-family: 'Norse';
}

.right {
    background-color: #f4f4f4;
    padding: 40px;
    flex: 3 0px;
}

.form-container {
    background-color: white;
    box-shadow: 5px 5px 15px #888888;
    margin: 0 -40px;
    padding: 16px 40px;
    display: flex;
    flex-flow: row wrap;
}

.create-account {
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
}

.form-group {
    flex: 1 1 calc(50% - 10px)
}

.form-group input {
    width: 100%;
}


button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
}

button {
    background-color: #596D48;
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;    
}

input {
    border: #E5E7EB solid;
}